<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid align-content-center grid-list-sm>
        <v-layout row wrap>
          <v-flex xs12 sm12 md12>
            <v-chip outline>
              <v-icon color="grey">label</v-icon>{{cn_text_label.leader_label}}
            </v-chip>
            <v-chip outline>
              <v-icon color="grey">mdi-christianity</v-icon>TE
            </v-chip>
            <v-chip outline>
              <v-icon color="grey">mdi-pistol</v-icon>RA
            </v-chip>
            <v-chip outline>管理模式<v-switch style="margin: auto;" v-model="admin_mod" color="primary"></v-switch></v-chip>
            <v-chip outline>記事板<v-switch style="margin: auto;" v-model="notebook_status" color="primary"></v-switch></v-chip>
            <v-chip outline color="gery"  class="black--text" v-if="admin_mod === true" v-on:click="reset_mission_data">
              {{cn_text_label.reset}}
              <v-icon color="grey">mdi-restart</v-icon>
            </v-chip>
            <v-chip round outline color="grey darken-1" class="black--text" v-else disabled>
              {{cn_text_label.reset}}
              <v-icon color="grey">mdi-restart</v-icon>
            </v-chip>
            <v-chip round outline color="gery"  class="black--text" v-if="admin_mod === true" v-on:click="" disabled>
              {{cn_text_label.push_message}}
              <v-icon color="grey">mdi-message</v-icon>
            </v-chip>
            <v-chip round outline color="grey darken-1"  class="black--text" v-else disabled>
              {{cn_text_label.push_message}}
              <v-icon color="grey">mdi-message</v-icon>
            </v-chip>
          </v-flex>
          <v-flex xs12 sm12 md8 order-xs2 order-sm2 order-md1>
            <v-carousel hide-delimiters height="400px" style="max-width:700px;margin: auto;" delimiter-icon="stop" prev-icon="mdi-arrow-left" next-icon="mdi-arrow-right">
              <v-carousel-item v-for="(item,i) in mission.slider" style="margin: auto;" max-width="700px" max-height="400px" :key="i" :src="item.src"></v-carousel-item>
            </v-carousel>

            <div v-for="i in quote/4/mission.num_as_group">
              <v-flex xs12 sm12 md12>
                <v-card>
                  <v-card-title primary-title>

                    <v-flex xs12 sm12 md12 style="margin:auto;">
                      <h3>Group {{i}}</h3>
                    </v-flex>
                    <v-flex xs12 sm12 md4 v-for="(color, index) in team" v-if="Math.floor(index/mission.num_as_group)+1 == i">
                      <v-card>
                        <v-card-title primary-title>
                          <div>
                              <div>
                                <h4>Team {{color}}</h4>
                              </div>
                            <draggable v-model="player_card" :move="move_player(this)" :options="{ group: 'player-group' }">
                              <div v-if="player.color === color" v-for="(player, index) in player_card" >
                                  <v-chip outline :color="color">{{player.class}}</v-chip>
                                  <v-chip outline :color="color" v-on:click="call_player_card(player,index)">
                                  <v-avatar>
                                    <v-img :src="player.avatar" alt="trevor"></v-img>
                                  </v-avatar>
                                  {{player.name}}
                                  <v-icon :color="color" v-if="player.color === color && player.leader == true">label</v-icon>
                                  <v-icon :color="color" v-if="player.color === color && player.class == 'TE'">mdi-christianity</v-icon>
                                  <v-icon :color="color" v-if="player.color === color && player.class == 'RA'">mdi-pistol</v-icon>
                                </v-chip>
                              </div>
                            </draggable>
                          </div>
                        </v-card-title>
                      </v-card>
                    </v-flex>
                  </v-card-title>
                </v-card>
              </v-flex>
            </div>


            <!--&lt;!&ndash;<v-img style="margin: auto;" max-height="400px" max-width="500px" :src="mission.background_image"></v-img>&ndash;&gt;-->
            <!--<v-container align-content-center grid-list-sm>-->
              <!--<v-layout align-center justify-center row wrap>-->
              <!--&lt;!&ndash;<v-layout align-center justify-center row fill-height>&ndash;&gt;-->

              <!--</v-layout>-->
            <!--</v-container>-->
          </v-flex>
          <v-flex xs12 sm12 order-xs1 order-sm1 md4>
            <v-dialog v-model="player_card_dialog.status" width="500" v-if="player_card_dialog.status === true">
              <v-card>
                <v-card-title class="headline primary white--text" primary-title>
                  {{cn_text_label.player_card}}
                </v-card-title>
                <v-card-text>
                  <v-container fluid grid-list-sm>
                    <v-layout wrap>
                      <v-flex xs6>
                        <v-img width="200" height="300"  :src="player_card_dialog.avatar"></v-img>
                      </v-flex>
                      <v-flex xs6>
                        <v-text-field v-model="player_card_dialog.name" :label="cn_text_label.player_name" v-if="admin_mod === true">></v-text-field>
                        <v-text-field v-model="player_card_dialog.name" :label="cn_text_label.player_name" v-else disabled></v-text-field>

                        <v-select v-model="player_card_dialog.color" :items="team" :label="cn_text_label.player_team" v-if="admin_mod === true"></v-select>
                        <v-select v-model="player_card_dialog.color" :items="team" :label="cn_text_label.player_team" v-else disabled></v-select>

                        <v-select v-model="player_card_dialog.class" :items="class_list" :label="cn_text_label.player_class" v-if="admin_mod === true"></v-select>
                        <v-select v-model="player_card_dialog.class" :items="class_list" :label="cn_text_label.player_class" v-else disabled></v-select>


                        <v-switch :label="cn_text_label.leader_label" v-model="player_card_dialog.leader" v-if="admin_mod === true"></v-switch>
                        <v-switch :label="cn_text_label.leader_label" v-model="player_card_dialog.leader" v-else disabled></v-switch>

                        <v-textarea outline name="input-7-4" :label="cn_text_label.pay_attention" v-if="admin_mod === true"> v-model="player_card_dialog.PS"></v-textarea>
                        <v-textarea outline name="input-7-4" :label="cn_text_label.pay_attention" v-else v-model="player_card_dialog.PS" disabled></v-textarea>

                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-card-text>
                <v-divider></v-divider>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn flat v-if="admin_mod === true" v-on:click="player_card_dialog.color=''">{{cn_text_label.reset_group}}</v-btn>
                  <v-btn flat v-else disabled>{{cn_text_label.reset_group}}</v-btn>
                  <v-btn color="black" flat v-on:click="player_card_dialog.status = false">{{cn_text_label.cancel}}</v-btn>
                  <v-btn color="primary" flat v-on:click="update_player">{{cn_text_label.submit}}</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

            <!--dialog-->
            <v-dialog v-model="admin_mod" v-if="admin_checking === false" width="300" >
              <v-card>
                <v-card-title class="headline primary white--text" primary-title>
                  {{cn_text_label.request_admin_code}}
                </v-card-title>
                <v-card-text>
                  <v-text-field v-model="admin_password_code" :label="cn_text_label.admin_code" :mask="mask" required></v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="black" flat v-on:click="message_dialog.status = false;admin_mod = false">{{cn_text_label.cancel}}</v-btn>
                  <v-btn color="primary" flat v-on:click="check_admin_password_code">{{cn_text_label.submit}}</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <!--dialog-->
            <v-flex xs12 sm12 md12 >
              <v-card v-if="notebook_status === true">
                <v-card-text>
                  <v-textarea height="500" v-model="mission.notebook" :value="mission.notebook" box label="記事板"></v-textarea>
                </v-card-text>
                <v-card-actions>
                  <v-btn color="primary" v-if="admin_mod === true" flat v-on:click="update_notebook">{{cn_text_label.submit}}</v-btn>
                  <v-btn color="primary" v-else flat v-on:click="update_notebook" disabled>{{cn_text_label.submit}}</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
            <!--<v-toolbar dense color="white">-->
              <!--<v-flex xs12 sm4 md4>-->
                <!--<v-btn color="primary" class="white&#45;&#45;text">-->
                  <!--{{cn_text_label.grouping}}-->
                  <!--<v-icon right dark>fas fa-object-group</v-icon>-->
                <!--</v-btn>-->
              <!--</v-flex>-->
              <!--<v-flex xs12 sm4 md4>-->
                <!--<v-btn color="gery"  class="black&#45;&#45;text" v-if="admin_mod === true" v-on:click="reset_mission_data">-->
                  <!--{{cn_text_label.reset}}-->
                  <!--<v-icon right dark>fas fa-power-off</v-icon>-->
                <!--</v-btn>-->
                <!--<v-btn color="gery"  class="black&#45;&#45;text" v-else disabled>-->
                  <!--{{cn_text_label.reset}}-->
                  <!--<v-icon right dark>fas fa-power-off</v-icon>-->
                <!--</v-btn>-->
              <!--</v-flex>-->
              <!--<v-flex xs12 sm4 md4>-->
                <!--<v-dialog v-model="mission_card_dialog_status" width="500" v-if="admin_mod === true">-->
                  <!--<v-btn color="gery" class="black&#45;&#45;text" slot="activator">-->
                    <!--{{cn_text_label.change_mission}}-->
                    <!--<v-icon right dark>fas fa-search</v-icon>-->
                  <!--</v-btn>-->
                  <!--<v-card>-->
                    <!--<v-card-title class="headline primary white&#45;&#45;text" primary-title>-->
                      <!--{{cn_text_label.change_mission}}-->
                    <!--</v-card-title>-->
                    <!--<v-card-text>-->
                      <!--<v-container grid-list-md>-->
                        <!--<v-layout row wrap>-->
                          <!--<v-flex xs4 md4>-->
                            <!--<v-img :src="mission.icon" style="margin: auto;"></v-img>-->
                          <!--</v-flex>-->
                          <!--<v-flex xs8 md8>-->
                            <!--<v-flex xs12>-->
                              <!--<v-select v-model="mission.mission_name" :items="mission_card_list" :label="cn_text_label.mission_name" v-on:change="update_mission(mission.mission_name)"></v-select>-->
                            <!--</v-flex>-->
                            <!--<v-flex xs12>-->
                              <!--<v-text-field v-model="quote" :label="cn_text_label.quote" :suffix="cn_text_label.quote_unit" v-on:change="update_mission(mission.mission_name)"></v-text-field>-->
                            <!--</v-flex>-->
                          <!--</v-flex>-->
                        <!--</v-layout>-->
                      <!--</v-container>-->
                    <!--</v-card-text>-->
                  <!--</v-card>-->
                <!--</v-dialog>-->
                <!--<v-btn color="gery" class="black&#45;&#45;text" v-else disabled>-->
                  <!--{{cn_text_label.change_mission}}-->
                  <!--<v-icon right dark>fas fa-search</v-icon>-->
                <!--</v-btn>-->
              <!--</v-flex>-->
            <!--</v-toolbar>-->
            <v-card>
              <v-card-actions>
                <v-btn color="primary" class="white--text">
                  {{cn_text_label.grouping}}
                  <v-icon right dark>fas fa-object-group</v-icon>
                </v-btn>
                <v-btn color="gery" class="black--text" v-if="admin_mod === true" v-on:click="mission_card_dialog_status = true">
                  {{cn_text_label.change_mission}}
                  <v-icon right dark>fas fa-search</v-icon>
                </v-btn>
                <v-btn color="gery" class="black--text" v-else disabled>
                  {{cn_text_label.change_mission}}
                  <v-icon right dark>fas fa-search</v-icon>
                </v-btn>
                <v-dialog v-model="mission_card_dialog_status" width="500">
                  <v-card>
                    <v-card-title class="headline primary white--text" primary-title>
                      {{cn_text_label.change_mission}}
                    </v-card-title>
                    <v-card-text>
                      <v-container grid-list-md>
                        <v-layout row wrap>
                          <v-flex xs4 md4>
                            <v-img :src="mission.icon" style="margin: auto;"></v-img>
                          </v-flex>
                          <v-flex xs8 md8>
                            <v-flex xs12>
                              <v-select v-model="mission.mission_name" :items="mission_card_list" :label="cn_text_label.mission_name" v-on:change="update_mission(mission.mission_name)"></v-select>
                            </v-flex>
                            <v-flex xs12>
                              <v-text-field v-model="quote" :label="cn_text_label.quote" :suffix="cn_text_label.quote_unit" v-on:change="update_mission(mission.mission_name)"></v-text-field>
                            </v-flex>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card-text>
                  </v-card>
                </v-dialog>
              </v-card-actions>
            </v-card>
            <v-card>
              <v-card-title primary-title>
                <v-img  :src="mission.icon"></v-img>
                <v-spacer></v-spacer>
                <div>
                  <div><h4>{{cn_text_label.mission_name}}: {{mission.mission_name}}</h4></div>
                  <div>{{cn_text_label.quote}}: {{quote}}</div>
                  <div>{{cn_text_label.current_number}}: {{player_card.length}}</div>

                  <v-dialog v-model="dialog_clear" width="300" v-if="admin_mod === true">
                    <v-btn slot="activator" flat color="Primary">{{cn_text_label.clear}}</v-btn>
                    <v-card>
                      <v-card-title class="headline warning white--text"  primary-title>
                        {{cn_text_label.confirm_clear}}
                      </v-card-title>
                      <v-card-text>
                        {{cn_text_label.clear_alert}}
                      </v-card-text>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="black" flat v-on:click="dialog_clear = false">{{cn_text_label.cancel}}</v-btn>
                        <v-btn color="warning" flat v-on:click="clear_button">{{cn_text_label.confirm}}</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-btn flat color="Primary" v-else disabled>{{cn_text_label.clear}}</v-btn>

                  <v-dialog v-model="dialog" width="500" v-if="player_card.length < quote">
                    <v-btn slot="activator" color="primary" dark>{{cn_text_label.join}}</v-btn>
                    <v-card>
                      <v-card-media>
                        <v-img :src="application_form_slider"></v-img>
                      </v-card-media>
                      <v-card-title class="headline primary white--text"  primary-title>
                        {{cn_text_label.application_form}}
                      </v-card-title>

                      <v-card-text>
                        <v-container grid-list-md>
                          <v-layout wrap>
                            <v-switch height="1" :label="cn_text_label.registered_user" v-model="registered"></v-switch>
                            <v-flex xs12>
                              <v-text-field v-if="registered === false" v-model="new_player.name" :label="cn_text_label.your_name" required></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                              <v-text-field v-if="registered === false"  v-model="new_player.avatar" :label="cn_text_label.your_avatar" required></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                              <v-text-field v-if="registered === true" v-model="new_player.access_token" :label="cn_text_label.player_access_token_label"></v-text-field>
                            </v-flex>
                            <v-flex xs12>
                              <v-select v-model="new_player.class" :items="class_list" :label="cn_text_label.your_class"></v-select>
                            </v-flex>
                          </v-layout>
                        </v-container>
                      </v-card-text>
                      <v-divider></v-divider>
                      <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="black" flat v-on:click="dialog = false">{{cn_text_label.cancel}}</v-btn>
                        <v-btn color="primary" flat v-on:click="add_player">{{cn_text_label.submit}}</v-btn>
                      </v-card-actions>
                    </v-card>
                  </v-dialog>
                  <v-btn flat color="Black" v-else disabled>{{cn_text_label.join}}</v-btn>
                </div>
              </v-card-title>
            </v-card>
            <v-card>
              <v-card-title primary-title>
                <v-chip close @input="remove_item(item,index)" v-for="(item, index) in player_card" :color="item.color" v-on:click="call_player_card(item,index)">
                  <v-avatar>
                    <v-img :src="item.avatar" alt="trevor"></v-img>
                  </v-avatar>
                  {{item.name}}-{{item.class}}
                </v-chip>
              </v-card-title>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>

    </v-content>
    <v-navigation-drawer
            right
            temporary
            v-model="right"
            fixed
    ></v-navigation-drawer>
    <v-footer color="blue darken-3" class="white--text" app>
    </v-footer>
  </v-app>
</template>

<script>
    import draggable from 'vuedraggable'
    import axios from 'axios'
    export default {
        name: 'HelloWorld',
        components: {
            draggable,
        },data: ()=> ({
            admin_mod:false,
            admin_checking:false,
            admin_password_code:'',
            application_form_slider:"https://www.wallpaperup.com/uploads/wallpapers/2017/10/14/1108085/59fd98bf31c0b8077807a5ee31084ebb-700.jpg",
            backend_url:"http://ec2-13-250-96-185.ap-southeast-1.compute.amazonaws.com:5000",
            // backend_url:"http://127.0.0.1:3000",
            drawerRight: true,
            dialog: false,
            dialog_clear: false,
            cn_text_label:{
                application_form:"申請表",
                admin_code:"權限碼",
                player_access_token_label:"快速認證碼",
                clear:"清空",
                clear_alert:"請注意,該操作一旦實行將不可回覆",
                cancel:"取消",
                confirm:"確認",
                confirm_clear:"確認清空",
                current_number:"目前人數",
                grouping:"隨機分組",
                change_mission:"更換緊急卡",
                join:"參加",
                leader_label:"隊長",
                mission_name:"緊急名稱",
                note_book_label:"記事板",
                player_name:"名稱",
                player_team:"所屬隊伍",
                player_class:"職業",
                player_card:"角色卡",
                pay_attention:"注意事項",
                quote:"人數上限",
                quote_unit:"人",
                reset:"重置系統",
                registered_user:"已註冊會員入口",
                request_admin_code:"請輸入權限碼",
                reset_group:"重置所屬隊伍",
                push_message:"推送訊息",
                submit:"提交",
                your_name:"你的名稱",
                your_avatar:"你的頭像(URL)",
                your_class:"你的職業"
            },
            left: null,
            mask: 'credit-card',
            mission:{
                mission_name: "創世導く母なる神",
                num_as_group:3,
                icon:"https://i.imgur.com/zVNHykd.jpg",
                slider:[
                    {
                        src:"https://images2.alphacoders.com/729/thumb-1920-729102.jpg"
                    },
                    {
                        src:"http://www.shinforce.com/elite/phantasystar/Phantasy_Star_Online_2/wallpaper/PSO2-05-1920x1080.jpg"
                    }
                ],
                notebook: ""
            },
            mission_card:{},
            mission_card_list:[],
            mission_card_dialog_status:false,
            message_dialog:{
                status:false,
                type:""
            },
            new_player:{
                name:"",
                avatar:"",
                class:"HU",
                access_token:"PSO2-ARKS000"
            },
            notebook_status:false,
            notebook_value:"",
            player_card:[],
            player_card2:[],
            player_card_dialog:{
                id:0,
                status:false,
                avatar:"",
                name:"",
                color:"",
                leader:false,
                class:"",
                PS:"",
                item:"",
                index:0,
            },
            quote:24,
            right: null,
            registered:false,
            team:["red","blue","green","purple","grey","orange","amber","lime","teal"],
            class_list:["HU","RA","FO","BR","BO","FI","GU","TE","SU","HR","PH"],
        }),
        filter:{
            same_group(color) {
                let result= {result:[]};
                this.player_card.forEach(function(item){
                    if(item.color === color){
                        result.result.append(item);
                    }
                });
                return result;
            }
        },
        created: function(){
            this.syn_data();
            // if (this.$cookie.get('admin_permission')){
            //     this.admin_checking = true
            // }
        },
        methods:{
            syn_data:function () {
                this.get_json_data()
                setTimeout(this.syn_data, 1*1000);
            },
            get_json_data:function(){
                if (this.admin_mod === false){
                    axios.post(this.backend_url+'/get_player_card_data').then((res) => {
                        this.player_card = res.data.player_card;
                    });
                    axios.post(this.backend_url+'/get_mission_card_data').then((res) =>
                    {
                        this.mission = res.data.mission;
                        this.quote = res.data.quote;
                        this.mission_card = {
                            mission:res.data.mission_card.mission
                        };
                        this.mission_list_update()
                    });
                }else{
                    axios.post(this.backend_url+'/get_player_card_data').then((res) => {
                        let result = this.player_card;
                        res.data.player_card.forEach(function (item) {
                            let status = false;
                            this.player_card.forEach(function (item2) {
                                if (item["name"] === item2["name"]){
                                    status = true
                                }
                            });
                            if (status === false){
                                this.player_card.push(item)
                            }
                        }.bind(this));
                    });
                }
            },
            reset_mission_data:function(){
                axios.post(this.backend_url+'/reset',this.player_card).then((res) => {
                    // this.player_card = res.data.player_card;
                });
                this.admin_mod = false;
                // this.admin_checking = false;
            },
            update_json_data:function(){
                let mission_card_json = {
                    mission:this.mission,
                    mission_card:this.mission_card,
                    quote:this.quote
                };
                axios.post(this.backend_url+'/update_player_card_data',this.player_card).then((res) => {
                    // this.player_card = res.data.player_card;
                });
                axios.post(this.backend_url+'/update_mission_card_data',mission_card_json).then((res) =>
                {
                    // this.mission = res.data.mission;
                    // res.data.mission_card.mission.forEach(function(item){
                    //   this.mission_card.mission_card.append(item)
                    // }.bind(this));
                });
            },
            update_mission_data:function(){
                let mission_card_json = {
                    mission:this.mission,
                    mission_card:this.mission_card,
                    quote:this.quote
                };
                axios.post(this.backend_url+'/update_mission_data',mission_card_json).then((res) => {

                });
            },
            add_new_player_json_data:function(item){
                let result = {
                    player:item
                }
                axios.post(this.backend_url+'/add_new_player',result).then((res) => {
                    this.get_json_data()
                });
            },
            mission_list_update:function(){
                let result = [];
                this.mission_card.mission.forEach(function(item){
                    result.push(item.mission_name)
                });
                this.mission_card_list = result;
            },
            check_admin_password_code:function(){
                if(this.admin_password_code === '9480723001283759'){
                    this.admin_checking = true
                    this.$cookie.set('admin_permission', 'true', 7);
                }
            },
            clear_button:function(){
                this.dialog_clear = false;
                this.player_card = [];
                this.update_json_data()
            },
            remove_item:function(item,index){
                if (this.admin_mod === true){
                    this.player_card.splice(index,1);
                    this.dialog = false;
                    this.update_json_data()
                    this.mission_list_update();
                }
            },
            add_player:function(){
                let new_id = 0
                this.dialog = false;
                if(this.registered === false){
                    if(this.player_card.length > 0){
                        let last = this.player_card.pop();
                        this.player_card.push(last);
                        new_id = last.id+1
                    }
                    let new_player_card = {
                        id:new_id,
                        name:this.new_player.name,
                        avatar:this.new_player.avatar,
                        class:this.new_player.class,
                        color:"",
                        leader:false,
                        PS:""
                    }
                    // this.player_card.push(new_player_card)
                    this.add_new_player_json_data(new_player_card);
                }else{
                    let reg_player = {
                        access_token:this.new_player.access_token,
                        class:this.new_player.class
                    }
                    axios.post(this.backend_url+'/add_reg_player',reg_player).then((res) => {
                        this.get_json_data()
                    });
                }
            },
            update_notebook:function(){
                let result={
                    mission_name:this.mission.mission_name,
                    notebook:this.mission.notebook
                }
                axios.post(this.backend_url+'/update_notebook',result).then((res) => {
                    this.get_json_data()
                });
            },
            update_mission:function(mission){
                let result = this.mission;
                this.mission_card.mission.forEach(function(item){
                    // console.log(item.mission_name);
                    if(mission === item.mission_name){
                        result = item;
                        // console.log("result"+result);
                    }
                });
                this.mission.num_as_group = result.num_as_group;
                this.mission.icon = result.icon;
                this.mission.slider = result.slider;
                this.update_mission_data();
                this.mission_list_update();
            },
            update_player:function(){
                this.player_card_dialog.status = false;
                this.player_card.forEach(function(item){
                    if (item === this.player_card_dialog.item){
                        item.name = this.player_card_dialog.name;
                        item.avatar = this.player_card_dialog.avatar;
                        item.color = this.player_card_dialog.color;
                        item.leader = this.player_card_dialog.leader;
                        item.class = this.player_card_dialog.class;
                        item.PS = this.player_card_dialog.PS;
                    }
                }.bind(this));
                this.mission_list_update();
                this.update_json_data();
            },
            call_player_card:function(item,index){
                this.player_card_dialog.status = true;
                this.player_card_dialog.id = item.id;
                this.player_card_dialog.name = item.name;
                this.player_card_dialog.color = item.color;
                this.player_card_dialog.avatar = item.avatar;
                this.player_card_dialog.leader = item.leader;
                this.player_card_dialog.class = item.class;
                this.player_card_dialog.PS = item.PS;
                this.player_card_dialog.item = item;
                this.player_card_dialog.index = index;
            },
            move_player:function(){
                this.update_json_data()
            }
        },
        props: {
            source: String
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<!--<style scoped>-->
<!--h3 {-->
  <!--margin: 40px 0 0;-->
<!--}-->
<!--ul {-->
  <!--list-style-type: none;-->
  <!--padding: 0;-->
<!--}-->
<!--li {-->
  <!--display: inline-block;-->
  <!--margin: 0 10px;-->
<!--}-->
<!--a {-->
  <!--color: #42b983;-->
<!--}-->
<!--</style>-->
