<template>
  <v-app>
      <header_part></header_part>
      <group_former></group_former>
  </v-app>
</template>

<script>
import header_part from './components/header_part'
import group_former from './components/group_former'
export default {
  name: 'App',
  components: {
      header_part,
      group_former
  },
    lintOnSave: true,
    configureWebpack: {
        output: {
            path: __dirname + "/cool-build"
        }
    },
    devServer: {
        disableHostCheck: true
    },
  data () {
    return {
      //
    }
  }
}
</script>
